[Unit]
Description=Rclone WebDAV Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount mywebdav: %h/webdav \
    --config=%h/.config/rclone/rclone.conf \
    --vfs-cache-mode writes \
    --vfs-cache-max-age 24h \
    --vfs-cache-max-size 10G \
    --vfs-read-chunk-size 64M \
    --buffer-size 32M
ExecStop=/usr/bin/fusermount -u %h/webdav
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
